header {
  border-bottom: #7f5af0 outset 0.55rem !important;
}

.header h1 {
  float: left;
  text-shadow: 0.125rem 0.125rem #657786;
}

.header nav {
  float: right;
  font-size: 100%;
}

.header nav a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #fffffe !important;
  text-shadow: 0.125rem 0.125rem #657786;
}

.header nav a:hover,
.header nav a:active {
  text-decoration: underline;
}

.header nav a.active {
  background: rgba(0, 0, 0, 0.4);
}
